.title {
  margin-top: 200px;
  padding: 0 11px;
}

.btn-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 80px;
}

button {
  font-size: 32px;
  padding: 5px 15px;
  font-weight: 600;
}

.imgs {
  margin-top: auto;
}

@media (min-width: 768px) {
  .title {
    width: 315px;
  }

  .btn-container {
    margin-top: 20%;
  }

  button {
    font-size: 37px;
  }
}

@media (min-width: 1024px) {
  .title {
    width: 400px;
  }

  .btn-container {
    margin-top: 10%;
  }

  button {
    font-size: 40px;
  }

  .imgs .xxx,
  .imgs .drink {
    display: none;
  }

  .imgs .amster-logo {
    position: relative;
    bottom: 0;
    width: 202px;
  }

  .footer {
    display: none;
  }
}

@media (min-width: 1440px) {
  .title {
    width: 800px;
    font-size: 96px;
    margin-top: 5%;
  }

  .btn-container {
    margin-top: 10%;
  }

  button {
    font-size: 64px;
  }
}
