.crown {
  width: 93px;
  margin: 0 auto;
  margin-top: 10%;
}

.description {
  font-size: 29px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  width: 291px;
}

button {
  font-size: 18px;
  padding: 10px 25px;
  font-weight: 800;
  margin: 0 auto;
  margin-top: 15px;
}

.restart {
  font-size: 18px;
  margin: 0 auto;
  margin-top: 15px;
}

.share {
  width: 80px;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
}

.imgs {
  margin-top: auto;
}

.imgs .xxx,
.imgs .drink {
  display: none;
}

@media (min-height: 700px) {
  .crown {
    width: 93px;
    margin: 0 auto;
    margin-top: 15%;
  }

  .description {
    font-size: 29px;
    font-weight: 900;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 291px;
  }

  button {
    font-size: 25px;
    padding: 15px 25px;
    font-weight: 800;
    margin: 0 auto;
    margin-top: 40px;
  }

  .restart {
    font-size: 25px;
    margin: 0 auto;
    margin-top: 30px;
  }
}

@media (min-width: 768px) {
  .crown {
    width: 195px;
    margin-top: 10%;
  }

  .description {
    font-size: 35px;
    width: 501px;
  }

  button {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  .crown {
    width: 195px;
    margin-top: 5%;
  }

  .description {
    width: 791px;
    font-size: 40px;
  }

  .imgs .drink {
    display: none;
  }

  .imgs .xxx {
    display: initial;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .footer {
    display: none;
  }

  .amster-logo {
    width: 180px !important;
  }
}

@media (min-width: 1440px) {
}
