.description {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  width: 291px;
}
.title {
  margin-top: 100px;
}

button {
  font-size: 20px;
  padding: 15px 5px;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 40px;
}

.download {
  width: 100%;
  max-width: 316px;
  margin: 0 auto;
  margin-top: 40px;
}

.again {
  padding: 15px 15px;
}

.imgs {
  margin-top: auto;
}

.imgs .xxx,
.imgs .drink {
  display: none;
}

@media (min-width: 768px) {
  .title {
    width: 700px;
  }
}

@media (min-width: 1024px) {
  .title {
    width: 60%;
    margin-top: 10%;
  }

  .description {
    font-size: 34px;
    width: 100%;
  }

  .download {
    width: 500px;
    max-width: initial;
    padding: 25px 40px;
  }

  .again {
    padding: 15px 15px;
    width: 220px;
  }

  button {
    font-size: 29px;
    padding: 10px 25px;
    width: 250px;
  }

  .imgs .xxx,
  .imgs .drink {
    display: none;
  }

  .imgs .amster-logo {
    width: 282px;
  }

  .footer {
    display: none;
  }
}

@media (min-width: 1440px) {
  .title {
    margin-top: 4%;
  }

  .description {
    font-size: 64px;
    width: 100%;
  }

  .download {
    width: 100%;
    max-width: 1091px;
    padding: 25px 40px;
    font-size: 64px;
  }

  .again {
    padding: 15px 15px;
    width: 320px;
    font-size: 48px;
  }
}

@media (min-width: 1920px) {
  .title {
    margin-top: 134px;
    font-size: 92px;
  }

  .description {
    font-size: 64px;
    width: 100%;
  }

  .download {
    width: 100%;
    max-width: 1091px;
    padding: 25px 40px;
    font-size: 64px;
  }

  .again {
    padding: 15px 15px;
    width: 320px;
    font-size: 48px;
  }
}
