.crown {
  width: 93px;
  margin: 0 auto;
  margin-top: 20%;
}

.description {
  font-size: 29px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 291px;
}

.qr-code {
  width: 200px;
  height: 200px;
  border: 2px solid #d1a53e;
  margin: 0 auto;
  margin-top: 30px;
}

.imgs {
  margin-top: auto;
}

.imgs .xxx,
.imgs .drink {
  display: none;
}

@media (min-width: 768px) {
  .crown {
    width: 195px;
    margin-top: 10%;
  }

  .description {
    width: 551px;
  }

  .qr-code {
    margin-top: 20%;
  }
}

@media (min-width: 1024px) {
  .crown {
    width: 195px;
    margin-top: 5%;
  }

  .title {
    margin-top: 2%;
    width: 780px;
  }

  .imgs .xxx {
    display: initial;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .qr-code {
    margin-top: 5%;
    width: 150px;
    height: 150px;
  }

  .footer {
    display: none;
  }
}

@media (min-width: 1440px) {
  .title {
    margin-top: 2%;
    width: 1180px;
    font-size: 64px;
  }

  .qr-code {
    margin-top: 2%;
    width: 200px;
    height: 200px;
  }
}
