.crown {
  width: 93px;
  margin: 0 auto;
  margin-top: 20%;
}

.description {
  font-size: 29px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 291px;
}

button {
  font-size: 25px;
  padding: 15px 25px;
  font-weight: 800;
  margin: 0 auto;
  margin-top: 80px;
}

.share {
  width: 80px;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
}

.imgs {
  margin-top: auto;
}

.imgs .xxx,
.imgs .drink {
  display: none;
}

@media (min-width: 768px) {
  .crown {
    width: 195px;
    margin-top: 10%;
  }

  .description {
    font-size: 35px;
    width: 501px;
  }

  button {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  .crown {
    width: 195px;
    margin-top: 5%;
  }

  .description {
    width: 791px;
    font-size: 45px;
  }

  .imgs .drink {
    display: none;
  }

  .imgs .xxx {
    display: initial;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .footer {
    display: none;
  }

  button {
    font-size: 32px;
    margin-top: 90px;
  }
}

@media (min-width: 1440px) {
  button {
    font-size: 64px;
  }
}
