.crown {
  width: 93px;
  margin: 0 auto;
  margin-top: 20%;
}

.picture {
  width: 250px;
  border: 2px solid #d1a53e;
  margin: 0 auto;
  margin-top: 30px;
}

button {
  font-size: 25px;
  padding: 15px 25px;
  font-weight: 800;
  width: 180px;
  margin: 0 auto;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .crown {
    width: 155px;
    margin-top: 10%;
  }

  .picture {
    width: 200px;
    border: 2px solid #d1a53e;
    margin: 0 auto;
    margin-top: 30px;
  }
}

@media (min-width: 1024px) {
  .crown {
    width: 185px;
    margin-top: 2%;
  }
}

@media (min-width: 1440px) {
  .picture {
    width: 300px;
  }

  button {
    margin-top: 20px;
  }

  .imgs {
    margin-top: -40px;
  }
}

@media (min-width: 1920px) {
  .picture {
    width: 360px;
    margin-top: 20px;
  }

  button {
    margin-top: 20px;
  }

  .imgs {
    margin-top: -60px;
  }
}
