.description {
  text-align: justify;
  padding: 0 10px;
  margin-top: 15px;
  overflow: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.description::-webkit-scrollbar {
  display: none;
}

button {
  font-size: 25px;
  padding: 10px 20px;
  font-weight: 600;
  width: 150px;
  margin: 0 auto;
  margin-top: 30px;
}

.imgs .xxx,
.imgs .drink,
.imgs .amster-logo {
  display: none;
}

@media (min-width: 768px) {
  .title {
    width: 700px;
  }

  .description {
    width: 500px;
    margin: 0 auto;
    margin-top: 10%;
  }

  button {
    margin-top: 10%;
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  .title {
    width: 100%;
  }

  .description {
    width: 800px;
    margin-top: 5%;
  }

  button {
    margin-top: 5%;
    font-size: 32px;
  }

  .imgs .amster-logo {
    bottom: 0;
    display: initial;
    width: 180px;
  }

  .footer {
    display: none;
  }
}

@media (min-width: 1440px) {
  button {
    font-size: 64px;
    width: auto;
    margin-top: 40px;
  }

  .imgs .amster-logo {
    bottom: 0;
    display: initial;
    width: 232px;
  }
}
