<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KINGSDAY</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/root.css" />
    <link rel="stylesheet" href="../static/css/age_gate_data.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        <h2 class="title">Por favor, informar:</h2>

        <input
          type="text"
          name=""
          id="dataNascimento"
          placeholder="Data de nascimento:"
        />

        <button class="root-btn" id="checkBirthdate">Avançar</button>

        <div class="imgs">
          <img src="../static/assets/xxx.png" alt="" class="xxx" />

          <img
            src="../static/assets/logo_amstel.png"
            alt=""
            class="amster-logo"
          />

          <img src="../static/assets/drink.png" alt="" class="drink" />
        </div>

        <div class="footer">
          <span>AMS</span>
          <div class="separator"></div>
          <span>1870</span>
        </div>
      </div>
      <p class="advise">
        Aprecie com moderação. <img src="../static/assets/18.png" /> Venda e
        consumo proibidos para menos de 18 anos
      </p>
    </div>
  </body>

  <script>
    const input = document.getElementById("dataNascimento");
    const btnBirthdate = document.getElementById("checkBirthdate");

    function isDataValida(dia, mes, ano) {
      const data = new Date(ano, mes - 1, dia);
      return (
        data.getDate() === dia &&
        data.getMonth() === mes - 1 &&
        data.getFullYear() === ano
      );
    }

    input.addEventListener("input", function (e) {
      let value = e.target.value.replace(/\D/g, ""); // Remove tudo que não for número

      if (value.length > 2) {
        value = value.slice(0, 2) + "/" + value.slice(2);
      }
      if (value.length > 5) {
        value = value.slice(0, 5) + "/" + value.slice(5, 9);
      }

      e.target.value = value;
    });

    btnBirthdate.addEventListener("click", function () {
      const dataStr = input.value;
      const partes = dataStr.split("/");

      if (partes.length === 3) {
        const dia = parseInt(partes[0], 10);
        const mes = parseInt(partes[1], 10);
        const ano = parseInt(partes[2], 10);

        if (!isDataValida(dia, mes, ano)) {
          return;
        }

        const hoje = new Date();
        const idade = hoje.getFullYear() - ano;
        const mesAtual = hoje.getMonth();
        const diaAtual = hoje.getDate();

        const fezAniversario =
          mesAtual > mes - 1 || (mesAtual === mes - 1 && diaAtual >= dia);
        const idadeFinal = fezAniversario ? idade : idade - 1;

        if (idadeFinal >= 18) {
          console.log("maior de idade");
        } else {
          console.log("menor de idade");
        }
      } else {
      }
    });
  </script>
</html>
