<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KINGSDAY</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/root.css" />
    <link rel="stylesheet" href="../static/css/download_qrcode.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        <img src="../static/assets/coroa.png" alt="" class="crown" />

        <h2 class="title">
          Não esqueça de compartilhar seu retrato de época nas redes sociais!
        </h2>

        <div id="qrcode" class="qr-code"></div>

        <button class="root-btn restart" onclick="goToHome()">REINICIAR</button>

        <div class="imgs">
          <img src="../static/assets/xxx.png" alt="" class="xxx" />

          <img
            src="../static/assets/logo_amstel.png"
            alt=""
            class="amster-logo"
          />

          <img src="../static/assets/drink.png" alt="" class="drink" />
        </div>

        <div class="footer">
          <span>AMS</span>
          <div class="separator"></div>
          <span>1870</span>
        </div>
      </div>
      <p class="advise">
        Aprecie com moderação. <img src="../static/assets/18.png" /> Venda e
        consumo proibidos para menos de 18 anos
      </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/qrcodejs@1.0.0/qrcode.min.js"></script>
    <script>
      function goToHome() {
        if (window.location.pathname.includes("/tablet")) {
          window.location.href = "/tablet/";
        } else {
          window.location.href = "/";
        }
      }

      document.addEventListener("DOMContentLoaded", function () {
        const params = new URLSearchParams(window.location.search);
        const imgParam = params.get("img");

        if (!imgParam) {
          alert("Imagem não encontrada para compartilhar.");
          return;
        }

        const frontUrl = "https://kingsdayapp.ddns.net";
        const imageUrl = `${frontUrl}/tablet/qrcodescanned?img=${encodeURIComponent(imgParam)}`;

        var qrcode = new QRCode(document.getElementById("qrcode"), {
          text: imageUrl,
        });
      });
    </script>
  </body>
</html>
