<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KINGSDAY</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/root.css" />
    <link rel="stylesheet" href="../static/css/foto_processada.css" />
    <style>
      .picture img {
        width: 100%;
        max-width: 400px;
        display: block;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        <img src="../static/assets/coroa.png" alt="" class="crown" />

        <div class="picture">
          <img
            id="processed-image"
            src="../static/assets/image_test.png"
            alt="Imagem processada"
          />
        </div>

        <button class="root-btn" onclick="goToDownload()">Seguir</button>

        <div class="imgs">
          <img src="../static/assets/xxx.png" alt="" class="xxx" />
          <img
            src="../static/assets/logo_amstel.png"
            alt=""
            class="amster-logo"
          />
          <img src="../static/assets/drink.png" alt="" class="drink" />
        </div>

        <div class="footer">
          <span>AMS</span>
          <div class="separator"></div>
          <span>1870</span>
        </div>
      </div>
      <p class="advise">
        Aprecie com moderação. <img src="../static/assets/18.png" /> Venda e
        consumo proibidos para menos de 18 anos
      </p>
    </div>

    <script>
      const params = new URLSearchParams(window.location.search);
      const imgUrl = params.get('img');
      const apiUrl = {{ api_url | tojson }};
      if (imgUrl) {
        document.getElementById('processed-image').src = apiUrl + imgUrl;
      }

      function goToDownload() {
        const params = new URLSearchParams(window.location.search);
        const imgParam = params.get("img");

        if (imgParam) {
          window.location.href = `/download?img=${encodeURIComponent(imgParam)}`;
        } else {
          window.location.href = "/download";
        }
      }
    </script>
  </body>
</html>
