<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KINGSDAY</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/root.css" />
    <link rel="stylesheet" href="../static/css/termos_uso.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        <h2 class="title">Termos de Uso</h2>

          <div class="description">

              <h1>1. Objeto</h1>
              <p>Através do Site, a HNK BR Industria de Bebidas Ltda (“HNK BR") proporciona aos usuários acesso a troca
                  de brindes exclusivos mediante compra de 01 balde de cerveja da marca Heineken nas embalagens long
                  neck, efetivadas entre os dias 25/08/2023 a 10/09/2023, preenchimento de cadastro e participação no
                  Quizz Musical obtendo ao menos 3 respostas certas. Cada balde dará direito apenas uma única chance
                  participação no quizz e os brindes são limitados a 1 unidade por CPF por dia.</p>

              <h1>2. Declaração de maioridade</h1>
              <p>O Site não é direcionado a e não deve ser utilizado por usuários menores de idade. De modo a evitar o
                  acesso indevido, a HNK BR cientifica claramente aos usuários que seu conteúdo é voltado a maiores de
                  18 (dezoito) anos, através do formulário na página de confirmação de idade ao entrar no Site.</p>
              <p>A HNK BR, no entanto, não se responsabiliza pelo acesso indevido ao Site, decorrente de informações
                  incorretas ou inverídicas fornecidas pelo usuário ou do desrespeito à classificação etária indicada no
                  Site.</p>

              <h1>3. Exclusão de garantia e responsabilidade</h1>
              <p>A HNK BR não se responsabiliza por nenhum dano decorrente do uso (ou da incapacidade de fazer uso) do
                  Site, inclusive danos causados por vírus ou qualquer incorreção ou falha, a menos que tais danos sejam
                  resultados de quaisquer condutas equivocadas, intencionais ou negligência por parte da HNK BR. A HNK
                  BR não será responsável por danos resultantes de falta de compatibilidade, atualização ou precisão do
                  Site ou das informações prestadas.</p>
              <p>Ainda, a HNK BR não será responsável por danos resultantes do uso inadequado de meios eletrônicos,
                  incluindo, mas não limitados a danos resultantes de falhas ou atrasos na entrega de comunicações
                  eletrônicas, interceptação ou manipulação de comunicações eletrônicas por terceiros ou por programas
                  de computador e transmissão de vírus.</p>
              <p>A HNK BR isenta-se de todas as garantias, incluindo, mas não se limitando a garantias de condições,
                  qualidade, comercialização, adequação a objetivos pessoais e não-violação.</p>
              <p>As informações provindas de terceiros constituem expressão das opiniões pessoais desses terceiros. A
                  HNK BR não é responsável por essas informações nem responderá por elas.</p>
              <p>Os hiperlinks do Site podem direcionar os visitantes para sites externos que são mantidos por
                  terceiros. A HNK BR não será responsável pelo conteúdo e funcionamento de tais sites externos. A HNK
                  BR também não será responsável pela qualidade dos produtos ou serviços por eles oferecidos.</p>

              <h1>4. Propriedade intelectual</h1>
              <p>Salvo disposição em contrário, todos os direitos de propriedade intelectual do Site são de propriedade
                  da HNK BR, incluindo, mas não se limitando a todas as marcas, nomes comerciais ou sinais distintivos
                  de qualquer espécie que são publicados no Site.</p>
              <p>O armazenamento ou a reprodução no todo ou em parte do conteúdo disponibilizado no Site não é
                  permitido. O direito de exploração que existir ou puder existir sobre tais conteúdos serão conforme a
                  estrita necessidade ao correto uso do Site.</p>
              <p>Caso o usuário publique no Site ou envie à HNK BR, por e-mail ou qualquer outro meio, ideias e/ou
                  materiais que consistam, dentre outros, em texto, imagens, sons, software e informações (o
                  "Material"), a HNK BR terá o direito de usar, copiar e/ou explorar comercialmente tal Material em sua
                  totalidade e sem ônus, mediante autorização expressa do usuário que enviou.</p>
              <p>Pelo presente, você se obriga a indenizar e isentar a HNK BR de e contra todas as ações, reclamações e
                  responsabilidades sofridas, incorridas ou mantidas pela HNK BR como resultado do uso e/ou exploração
                  do Material que infrinja os direitos de propriedade industrial de qualquer terceiro ou que seja de
                  algum modo ilegal perante terceiros.</p>

              <h1>5. Privacidade</h1>
              <p>A utilização de alguns dos serviços oferecidos no Site implica na necessidade do fornecimento de dados
                  de caráter pessoal, os quais serão processados por meios automatizados segundo o disposto na Política
                  de Privacidade.</p>
              <p>A HNK BR adota níveis de segurança de proteção de dados pessoais legalmente requeridos. Não obstante, o
                  usuário deve estar consciente de que as medidas de segurança na rede não são infalíveis.</p>

              <h1>6. Retirada e suspensão dos serviços</h1>
              <p>A HNK BR se reserva o direito de recusar ou retirar o acesso ao Site e/ou aos serviços, a qualquer
                  momento e sem necessidade de prévio aviso, por iniciativa própria ou por exigência de um terceiro,
                  àqueles usuários que descumprirem estes Termos de Uso.</p>

              <h1>7. Duração e finalização</h1>
              <p>A prestação dos serviços oferecidos no Site tem uma duração de 12/05/2023 a 10/06/2023. À HNK BR, no
                  entanto, está facultada terminar, suspender ou interromper unilateralmente, a qualquer momento e sem
                  necessidade de aviso prévio, a prestação dos serviços oferecidos no Site e/ou de qualquer dos serviços
                  oferecidos, sem prejuízo do disposto nos presentes Termos de Uso.</p>
              <p>Cada uma das cláusulas destes Termos de Uso opera separadamente. Se qualquer tribunal ou autoridade
                  competente decidir que qualquer um deles é ilegal ou inexequível, as cláusulas restantes permanecerão
                  em pleno vigor e efeito, permanecendo as partes comprometidas com o que restar destes. As partes
                  deverão substituir os itens anulados por cláusulas válidas que tenham efeito legal e correspondam ao
                  máximo possível a tais itens, levando em conta o conteúdo e o objetivo destes Termos de Uso.</p>

              <h1>8. Legislação e foro</h1>
              <p>Estes Termos de Uso serão regidos e interpretados de acordo com a legislação brasileira,
                  independentemente dos conflitos dessas leis com leis de outros estados ou países, sendo competente o
                  Foro da Comarca de São Paulo-SP, com exclusão de qualquer outro, para dirimir qualquer dúvida
                  decorrente destes Termos de Uso. O usuário consente, expressamente, com a competência desse juízo com
                  exclusão de qualquer outro, por mais privilegiado que seja.</p>

              <h1>9. TERMO DE AUTORIZAÇÃO DE USO DE IMAGEM</h1>
              <p>1. Pelo presente instrumento (“Termo”), o Autorizador, abaixo qualificado, autoriza a HNK BR INDÚSTRIA
                  DE BEBIDAS LTDA, a título gratuito, universal, em caráter total, definitivo, irrevogável e
                  irretratável, a captação temporária de sua imagem, captadas pela HNK BR INDÚSTRIA DE BEBIDAS LTDA ou
                  por terceiros atuantes na campanha publicitária produzida, intitulada “Retrato do Rei”.</p>
              <p>2. Reconhece expressamente o Autorizador que a HNK BR INDÚSTRIA DE BEBIDAS LTDA poderá, a seu exclusivo
                  critério, pelo prazo de duração da Campanha, captar temporariamente a sua imagem livremente.</p>
              <p>3. Ao aceitar este Termo, você declara e garante ser pessoa física e totalmente capaz, com idade igual
                  ou superior a 18 anos; ser o único titular dos direitos da imagem capturada; e que o uso da imagem não
                  violará direitos de terceiros.</p>
              <p>4. Após o aceite e participação na Campanha, o Autorizador poderá receber a imagem via QR Code, válido
                  por até 1 minuto. Após este período, a imagem será automaticamente deletada.</p>
              <p>5. A autorização entra em vigor na data do aceite e perdurará por todo o prazo da Campanha (25/04/2025
                  a 28/04/2025).</p>
              <p>6. A autorização é feita em caráter gratuito, sem qualquer compensação futura.</p>
              <p>7. A HNK BR é responsável pela Campanha e garante a destruição das imagens em até 1 minuto, seguindo a
                  LGPD.</p>
              <p>8. A HNK BR seguirá padrões de segurança rígidos para proteção da imagem e poderá compartilhá-las
                  apenas com produtoras contratadas para fins da Campanha. Direitos previstos na LGPD podem ser
                  exercidos via lgpd@heineken.com.br.</p>

              <h1>CONSIDERAÇÕES FINAIS</h1>
              <p>O presente Termo poderá ser alterado ou suspenso a qualquer tempo, principalmente, mas não somente, por
                  motivo de caso fortuito, força maior ou qualquer outro fator imprevisto. A HNK BR é a única
                  responsável pela Campanha.</p>

          </div>

        <button class="root-btn" onclick="goToPolicy()">Fechar</button>

        <div class="imgs">
          <img src="../static/assets/xxx.png" alt="" class="xxx" />

          <img
            src="../static/assets/logo_amstel.png"
            alt=""
            class="amster-logo"
          />

          <img src="../static/assets/drink.png" alt="" class="drink" />
        </div>

        <div class="footer">
          <span>AMS</span>
          <div class="separator"></div>
          <span>1870</span>
        </div>
      </div>
      <p class="advise">
        Aprecie com moderação. <img src="../static/assets/18.png" /> Venda e
        consumo proibidos para menos de 18 anos
      </p>
    </div>
    <script>
      function goToPolicy() {
        if (window.location.pathname.includes("/tablet")) {
          window.location.href = "/tablet/politicaprivacidade";
        } else {
          window.location.href = "/politicaprivacidade";
        }
      }
    </script>
  </body>
</html>
