<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KINGSDAY</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../root.css" />
    <link rel="stylesheet" href="./download-picture.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        <img src="../assets/coroa.png" alt="" class="crown" />

        <p class="description">
          Não esqueça de compartilhar seu retrato de época nas redes sociais!
        </p>

        <button class="root-btn">Download</button>

        <div class="imgs">
          <img src="../assets/xxx.png" alt="" class="xxx" />

          <img src="../assets/logo_amstel.png" alt="" class="amster-logo" />

          <img src="../assets/drink.png" alt="" class="drink" />
        </div>

        <div class="footer">
          <span>AMS</span>
          <div class="separator"></div>
          <span>1870</span>
        </div>
      </div>
      <p class="advise">Aprecie com moderação.</p>
    </div>
  </body>
</html>
